<%include partials/header%>
<h3>CSV File Downloading ...</h3>
<p>[Caution]The filtered Data is based on your previous query . If you haven't entered any query yet complete data will be downloaded. </p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
var download = function(content, fileName, mimeType) {
  var a = document.createElement('a');
  mimeType = mimeType || 'application/octet-stream';

  if (navigator.msSaveBlob) { // IE10
    navigator.msSaveBlob(new Blob([content], {
      type: mimeType
    }), fileName);
  } else if (URL && 'download' in a) { //html5 A[download]
    a.href = URL.createObjectURL(new Blob([content], {
      type: mimeType
    }));
    a.setAttribute('download', fileName);
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  } else {
    location.href = 'data:application/octet-stream,' + encodeURIComponent(content); // only this mime type is supported
  }
}
</script>

<script>
    $(document).ready(function() {
        var content = `<%=Data%>`;
        console.log(content);
        download(content, 'dowload.csv', 'text/csv;encoding:utf-8');
    });


</script>
