<%include partials/header%>
<div class="contianer">
  <div class="jumbotron">
    <form class="" action="/fetch" method="get">
      <label for="">Enter the Keyword to Start Streaming . Straming Remains on for 20 sec.</label>
      <input class="form-control" type="text" name="keyword" value="">
      <button >Stream</button>
    </form>
  </div>

</div>
